.carousel-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



@media screen and (min-width:1200px){

    .home-products{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }
}