.cont-card{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #1818385d;
    padding: 10px;
    backdrop-filter: blur(20px);
    min-height: 900px;

    .title-product-list-container{
        width: 100%;
        color: rgb(230, 229, 229);
        font-size: 45px;
        font-family: $font-page;
        text-align: center;
        padding: 10px;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
}

.card-container{
    width: 250px;
    height: 570px;
    background-color: #2a2a2af3;
    padding: 10px;
    border-radius: 13px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    cursor: pointer;
    box-shadow: rgba(152, 152, 152, 0.155) 0px 1px 0px, rgba(142, 142, 148, 0.303) 0px 8px 24px, rgba(119, 119, 126, 0.293) 0px 16px 48px;

    &:hover{
        transition: all .5s ease;
        box-shadow: rgba(216, 216, 216, 0.56) 0px 22px 70px 4px;
        
    }

    .card-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;

        .card-img-container{
            width: 100%;
            height: 48%;
            padding: 8px;

            .card-img{
                width: 100%;
                height: 100%;
            }
        }

        .card-data{
            width: 100%;
            height: 30%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-around;

            .card-name-container{
                color: $color-text;
                font-size: 22px;
                font-family: $font-page;
                text-align: center;
                text-decoration: none;

            }

            .card-price-container{
                color: $color-text;
                font-size: 20px;
                font-weight: 500;
            }

            .card-brand-container{

                width: 90px;
                height: 35px;
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }

        }

        .card-button-container{

            .card-button{
                padding: 9px;
                border-radius: 30%;
                border: 2px solid rgb(0, 0, 0);
                background-color: rgb(0, 0, 0);
                color: aliceblue;
                transition: all .4s ease;

                &:hover{
                    transition: all .4s ease;
                    color: black;
                    background-color: aliceblue;
                }
            }
        }

        .card-offStock{
            background-color: red;
            color: white;
            text-align: center;
            height: 28px;
            border-radius: 10px;
            display: flex;
            align-items: center;

            p{
                margin: 0;
                padding: 7px;
            }

        }
    }

}

@media screen and (max-width:1200px) {

    .card-container{
        box-shadow: rgba(221, 221, 221, 0.1) 0px 8px 24px, rgba(175, 175, 176, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}