
.img-cart-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 20 20;
    color: aliceblue;
    padding: 10px;


    .img-cart{
        width: 100px;
        height: 100px;
        margin: 20px;
        border-radius: 50%;
    }

    .title-cart{
        width: 100%;
        text-align:center ;
        font-size: 25px;
        font-family: $font-page;
    }
}