.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: $color-header;
    position: sticky;
    top: 0;
    z-index: 10;
}
@media screen and (max-width:1200px){
    .header{
        height: 7vh;
    }
}