
.navbar-container{

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    padding: 8px;

    -webkit-box-shadow: 0px 30px 28px -25px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 30px 28px -25px rgba(0,0,0,0.45);
    box-shadow: 0px 30px 28px -25px rgba(0,0,0,0.45);
    
}