.search-container{
    width: 400px;
    height: 100%;

    .search-content{


        .search{
            border-radius: 5px;

            &:focus{
                box-shadow: rgba(160, 160, 160, 0.863) 0px 0px 0px 3px;
            }
        }

        .btn{
            border-radius: 5px;
            border: none;
            transition: all .5s ease;


            .svgSearch{
                width: 25px;
                height: 25px;
                color: white;
            }

            &:hover{
                background-color: #00000039;
                transition: all .5s ease;
            }
        }
    }
}

@media screen and (max-width:1200px){

    .search-container{

        max-width: 400px;
        width: 70%;
    }
}