
.section-products{
    background-image: url('../../assets/fondoProducts.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;
    top:0;
}
