.product-similar-container{
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .similar-text-container{
        font-size: 20px;
        text-align: center;
        color: $color-text;
        
    }
}

@media screen and (max-width:1000px){
    .product-similar-container{
        width: 100%;
    
        .similar-text-container{
            font-size: 20px;
            text-align: center;
            width: 100%;
            
        }
    }
}