
//fonts
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

$font-logo: 'Kolker Brush', cursive;
$font-page: 'Roboto', sans-serif;
// $font-page: 'DM Mono', monospace;

//  'Roboto', sans-serif;


// colors

$color-link: rgb(255, 255, 255);
$color-header: #1b1b26;  // #1a5454 // #e2ac50 // #5f5f5f // #fff159 // #1b1b26
$color-card: rgb(226, 226, 226);
$color-Itemcontainer: #1b1b26;
$color-text: rgb(229, 229, 229);
$color-fondos: rgb(15, 17, 29);

// components
@import './components/home';
@import './components/sectionProducts';
@import './components/header';
@import './components/navbar';
@import './components/logo';
@import './components/search';
@import './components/navs';
@import './components/cart';
@import './components/filters';
@import './components/sectionMain';
@import './components/cards';
@import './components/itemDetail';
@import './components/similProduct';
@import './components/itemCart';
@import './components/loading';
@import './components/carouselHome';
@import './components/cartImg';
@import './components/cartContainer';
@import './components/form';
@import './components/footer';



body{
    font-family: $font-page;
    background-color:$color-header;
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar{
        width: 10px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.3);
        width: 100%;
        border-radius: 5px;
    }

    *{
        text-decoration: none;
    }
}