
//fonts
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

$font-logo: 'Kolker Brush', cursive;
$font-page: 'Roboto', sans-serif;
// $font-page: 'DM Mono', monospace;

//  'Roboto', sans-serif;


// colors

$color-link: rgb(255, 255, 255);
$color-header: #1a5454;  // #1a5454 // #e2ac50 // #5f5f5f // #fff159
$color-card: rgb(226, 226, 226);

// components
@import './components/navbar';
@import './components/logo';
@import './components/search';
@import './components/navs';
@import './components/cart';
@import './components/filters';
@import './components/sectionMain';
@import './components/cards';



body{
    font-family: $font-page;
    background-color:rgb(229, 248, 248);

    .header{
        width: 100%;
        background-color: $color-header;
    }
}